@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');


/* ――― USER-PROFILE ――――――――――――――― */
#profile_container{
    text-align: center;
}

#user {
	margin: auto auto 40px auto;
	box-shadow: 1px 1px 3px 3px rgba(0,0,0,0.20);
	max-width: 50%;
}

.icon{
    padding: 50px;
}

.icon img{
    width: 100px;
    height: 100px;
    background-size: 100% 100%;
}

#profil_title{
    padding-top: 50px;
}

#avatar {
	max-width: 100px;
	background: var(--blue-gradient);
	padding: 0.16em;
	margin-top: -50px;
}

#main h3 {
	font-weight: normal;
	font-size: 2.3em;
	margin-bottom: 1px;
}

#stats p {
	font-size: 1.1em;
    text-transform: uppercase;
}

#description {
	margin: 25px 0;
}

#btn{
    padding-bottom:30px;
}

#btn .btn{
    cursor: pointer;
    border: none;
}




