/* Header inkluderar "hairfind" h1 och login */
body {
    margin: 0;
    padding: 0px;
}

.navbar {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.listFilter {
    padding: 1em 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.listFilter ul {
    padding: 0;
    list-style: none;
    border-radius: 30px;
}

.listFilter li {
    display: inline-block;
    padding: 0.5rem;
    margin: 0.25rem;
}

.select_filter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}


.tag_btn {
    border-radius: 30px;
    font-size: 18px;
    font-weight: lighter;
    padding: 5px 15px;
    border: none;
    cursor: pointer;


    box-shadow: -1px 3px 3px 0 rgba(135, 135, 135, 0.2);
    border-radius: 30px;
    color: #505050;
    flex: 0 0 auto;
}

.tag_btn:hover {
    background: #747474;
    box-shadow: none;
    color: aliceblue;
    transition: all 0.16s ease-in;
}

/**
    Search
**/

.filter_form {
    display: flex;
    flex-direction: row;
    gap: 2em;
    position: relative;
}



/**
    Cards
**/
.cards_info {
    padding: 150px 0px 20px 0px;
    text-transform: uppercase;
    text-align: center;
}

.card-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 2em;
    gap: 2em;
}

.card {
    width: 100%;
    max-width: 20em;
    background-color: #696969;
    border: none;
    box-shadow: 0 5px 5px rgba(108, 108, 108, 0.256);
}

.card-description a {
    color: #505050;
    text-decoration: none;
    
}

.card img {
    width: 100%;
}

@media screen and (max-width: 768px) {
    .card-box {
        background-color: rgb(216, 216, 216);
    }
    .card {
        width: 100%;
        max-width: 25em;
    }
}

.hidden {
    display: none;
}

.show-buttons {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.show-buttons button {
    padding: 0.5em 1em;
    font-size: 14px;
    background-color: #696969;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.show-buttons button:hover {
    background-color: #505050;
}