body {
    line-height: 1.5;
    /**background-image: url("/static/img/Shiny\ Overlay.svg");**/
    /**background: linear-gradient(123deg, #71b8e7, #9b59b6);**/

}


#main_container {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.from_container {
    padding: 36px 48px 48px 48px;
    background-color: #f2efee82;
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
    
}

.from_container .title {
    padding: 15px;
    text-align: center;
    font-size: 34px;
    font-weight: 600px;
}

form {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
    padding-left: 0px;
}


.user_details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.user_details input {
    padding-inline: 1em;
}

input {
    width: 100%;
    padding: 1.2rem;
    border-radius: 9px;
    border: none;
    
}

input:focus {
    outline: none;
    box-shadow: 0 0 0 1px rgba(249, 249, 249, 0.792);
}


#singIn_btn {
    margin-top: 40%;
}

form .user_details .input_pox {
    margin-bottom: 15px;
    margin: 20px 0px 12px 0;
    width: calc(100% / 2 - 20px);
}


@media (max-width: 1000px) {
    #main_container {
        flex-direction: column;
        row-gap: 0;
    }


    form .user_details .input_pox {
        margin-bottom: 15px;
        width: 100%;
        padding-inline: 0em;
    }

    .user_details::-webkit-scrollber {
        width: 0;
    }
}