<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/style_about.css">
        <title>hairfind</title>
    </head>

    <body>
        <header class="header">
            <h1>HairFind</h1>
        </header>
        <div class="about-section">
            <div class="inner-container">
                <h1>About Us</h1>
                <p class="text">
                    HairFind är en webbapplikation som fungerar som en plattform där frisörsalonger
                    kan registrera sig och lägga upp profiler med information om sina tjänster, priser och bilder som
                    visar deras professionalitet. Kunden kan söka efter en frisör och boka en tid genom att skapa ett
                    konto med personuppgifter som består av mail, namn, lösenord och mobilnummer. Dessutom kan kunden
                    lämna en bedömning efter att ha besökt frisören. Målet med plattformen är att göra det lättare för
                    kunden att hitta rätt frisörsalong och att skapa förtroende för frisören och dess kompetens.
                    Plattformen liknar BokaDirekt som är en plattform för att boka tider för skönhetsvård och
                    träningspass.
                </p>
            </div>
            <div class="right-container" id="img-barber">
                <img src="https://images.pexels.com/photos/1453005/pexels-photo-1453005.jpeg" alt="a barber image"
                    width="500" height="500">
            </div>
        </div>

    </body>

</html>