<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static//css/about.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'about.css' %}" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <title>Om oss</title>
</head>

<body>
    <header class="header">
        <div class="title">
            <a href="{{url_for ('home')}}">
                <h1>HairFind</h1>
            </a>
        </div>
        <div class="nav_btn">
            <a class="btn btn-primary" href="{{url_for('login_customer')}}">Kund</a>
            <a class="btn btn-primary" href="{{url_for('salon_login')}}">Frisör</a>
        </div>
    </header>
    <div class="container">
        <!-------------------------------------------------company------------------------------------------------>
        <div class="company">
            <div class="img"> <img src="/static/css/img/about.jpg" alt="team"/>
                <img  />
            </div>
            <div class="company-info">
                <span>Discover your best<span class="our"> hair day with HairFind</span></span>
                <p>
                    <b>HairFind</b> är en webbapplikation som fungerar som en plattform där frisörsalonger kan
                    registrera sig och lägga upp profiler med information om sina tjänster, priser och bilder som visar
                    deras professionalitet. Kunden kan söka efter en frisör och boka en tid genom att skapa ett konto
                    med personuppgifter som består av mail, namn, lösenord och mobilnummer. Dessutom kan kunden lämna en
                    bedömning efter att ha besökt frisören. Målet med plattformen är att göra det lättare för kunden att
                    hitta rätt frisörsalong och att skapa förtroende för frisören och dess kompetens. Plattformen liknar
                    BokaDirekt som är en plattform för att boka tider för skönhetsvård och träningspass.
                </p>
            </div>
        </div>
        <!---------------------------------------team-------------------------------------------->
        <div class="team"><span>TEAM 15</span></div>
        <div class="container">
            <!---------------------------------------Daniel-------------------------------------->
            <div class="card">
                <div class="card-image loading"><img
                        src="https://images.pexels.com/photos/39866/entrepreneur-startup-start-up-man-39866.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                        alt="Profilbild Daniel"/>
                </div>
                <div class="card-info">
                    <h3 class="card-title loading"><span>Daniel <span class="yellow-surname">Moradi</span></span></h3>
                    <p class="card-description loading">
                        <span class="personal-info">
                            <span class="info">Informationsarkitekt</span> <br>
                            <a href="mailto:'daniel.moradi15@gmail.com'">daniel.moradi15@gmail.com</a>
                        </span>
                    </p>
                    <div class="card-mediaIcons">
                        <a href="#" class="loading" target="on_blank"><i class="fab fa-facebook-f"></i></a>
                        <a href="#" class="loading" target="on_blank"><i
                                class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <!---------------------------------------Tarik-------------------------------------->
            <div class="card">
                <div class="card-image loading"><img
                        src="https://images.pexels.com/photos/39866/entrepreneur-startup-start-up-man-39866.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                        alt="Profilbild Tarik"></div>
                <div class="card-info">
                    <h3 class="card-title loading"><span>Tarik <span class="yellow-surname">Serezlic</span></span></h3>
                    <p class="card-description loading">
                        <span class="personal-info">
                            <span class="info">Informationsarkitekt</span> <br>
                            <a href="mailto:'daniel.moradi15@gmail.com'">tarikserez@gmail.com</a>
                        </span>
                    </p>
                    <div class="card-mediaIcons">
                        <a href="#" class="loading" target="on_blank"><i class="fab fa-facebook-f"></i></a>
                        <a href="#" class="loading" target="on_blank"><i
                                class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <!---------------------------------------Nadir-------------------------------------->
            <div class="card">
                <div class="card-image loading"><img
                        src="https://media.istockphoto.com/photos/portrait-of-handsome-latino-african-man-picture-id1007763808?k=20&m=1007763808&s=612x612&w=0&h=q4qlV-99EK1VHePL1-Xon4gpdpK7kz3631XK4Hgr1ls="
                        alt="Profilbild Nadir"/></div>
                <div class="card-info">
                    <h3 class="card-title loading"><span>Nadir <span class="yellow-surname">Ali Hussaini</span></span>
                    </h3>
                    <p class="card-description loading">
                        <span class="personal-info">
                            <span class="info">Informationsarkitekt</span> <br>
                            <a href="mailto:'nadirali342@gmail.com'">nadirali342@gmail.com</a>
                        </span>
                    </p>
                    <div class="card-mediaIcons">
                        <a href="#" class="loading" target="on_blank"><i class="fab fa-facebook-f"></i></a>
                        <a href="#" class="loading" target="on_blank"><i
                                class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <!---------------------------------------Oswaldo-------------------------------------->
            <div class="card">
                <div class="card-image loading"><img
                        src="https://images.pexels.com/photos/837358/pexels-photo-837358.jpeg?auto=compress&cs=tinysrgb&w=600"
                        alt="Profilbild Oswaldo" /></div>
                <div class="card-info">
                    <h3 class="card-title loading"><span>Oswaldo <span class="yellow-surname">Quijada</span></span></h3>
                    <p class="card-description loading">
                        <span class="personal-info">
                            <span class="info">Informationsarkitekt</span> <br>
                            <a href="mailto:'quijada.oswaldo@hotmail.com'">quijada.oswaldo@hotmail.com</a>
                        </span>
                    </p>
                    <div class="card-mediaIcons">
                        <a href="#" class="loading" target="on_blank"><i class="fab fa-facebook-f"></i></a>
                        <a href="#" class="loading" target="on_blank"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!----------------------------------------footer------------------------------------------ -->
    <footer class="footer-distributed">
        <div class="footer-right">
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-tiktok"></i></a>
        </div>

        <div class="footer-left">
            <ul class="footer-links">
                <li><a href="{{url_for('home')}}">Startsida</a></li>
                <li><a href="{{url_for('about')}}">Om oss</a></li>
                <li><a href="{{url_for('contact')}}">Kontakta oss</a></li>
            </ul>
        </div>
        <p>HairFind &copy; 2023</p>
    </footer>

    <script src="/static/js/about.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
        crossorigin="anonymous"></script>
</body>

</html>