<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <title>Lägga till tjänst</title>
    </head>
    
    <body class="container">
        {% block body %}
        <h1>Lägga till en tjänst</h1>
        {% from "includes/_formhelpers.html" import render_field %}
        <form method="POST" action="{{ url_for('add_service') }}">
            <div class="form-group">
                {{ render_field(form.name, class_="form-control") }}
            </div>
            <div class="form-group">
                {{ render_field(form.price, class_="form-control") }}
            </div>
            <div class="form-group">
                {{ render_field(form.description, class_="form-control") }}
            </div>
            <button class="btn btn-primary" type="submit" value="Submit">Spara</button>
        </form>
        {% endblock %}

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>

</html>