<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static//css/main.css">
        <link rel="stylesheet" href="/static//css/profile.css" type="text/css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
            integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" type="text/css"
            href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.min.css">
        <title>Min profil</title>
    </head>

    <body>
            <!-- Header -->
        <header class="header">
            <div class="nav_btn">
                <a href="{{url_for ('home')}}">
                    <h1>HairFind</h1>
                </a>
            </div>
            <form action="{{ url_for('logout') }}" method="post">
                <button type="submit" class="btn btn-primary">Log out</button>
            </form>
        </header>

        <!-- Profiltest -->
        <main class="container" id="profile_container">
            <div class="title" id="profil_title">
                <h1>Välkommen</h1>
                <p>Här kan du se dina personuppgifter samt ta bort din profil.</p>
            </div>

            <div id="user">
                <div class="icon">
                    <img src="/static/css/img/user.png" alt="Profile icon">
                </div>

                <div id="information">
                    <div id="stats">
                        <div>
                            <h4>Namn</h4>
                            <p> {{fullname}}</p>
                        </div>

                        <div>
                            <h4>Mobilnummer</h4>
                            <p> {{telephone}} </p>
                        </div>

                        <div>
                            <h4>E-postadress</h4>
                            <p> {{username}}</p>
                        </div>
                    </div>

                    <p id="description">
                        Vill du radera ditt konto?<br>
                        All information om ditt konto kommer att tas bort.
                    </p>

                    <div id="btn">
                        <button id="deleteBtn" type="button" data-username="{{ username }}"
                            class="btn btn-danger">Radera konto</button>
                    </div>
                </div>
            </div>
        </main>

<!--FOOTER-->
        <footer class="footer-distributed">
            <div class="footer-right">
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-tiktok"></i></a>
            </div>

            <div class="footer-left">
                <ul class="footer-links">
                    <li><a href="{{url_for('home')}}">Startsida</a></li>
                    <li><a href="{{url_for('about')}}">Om oss</a></li>
                </ul>
            </div>
            <p>HairFind & copy; 2023</p>
        </footer>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
            crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.all.min.js"></script>
        <script src="/static/js/delete_confirm.js"></script>

    </body>

</html>