<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/main.css">
        <link rel="stylesheet" href="/static//css/loginStyle.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
            integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />

        <title>Skapa konto</title>
    </head>

    <body>
        <header class="home-header">
            <div class="title">
                <a href="{{url_for ('home')}}">
                    <h1>HairFind</h1>
                </a>
            </div>
            <div class="nav_btn">
                <a class="btn btn-primary" href="{{url_for('salon_login')}}">Logga in</a>
            </div>
        </header>

        <main class="container">


            <div class="register_from_container">
                <h2 class="title">Skapa ett konto</h2>
                <h4>Är du frisör och vill skapa ett konto?</h4>
                <p>Ange dina personliga uppgifter och börja resan med oss</p>

                {% with messages = get_flashed_messages(with_categories=true) %}
                {% for category, message in messages %}
                {% if category == 'success' %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
                {% elif category == 'info' %}
                <div class="alert alert-info" role="alert">
                    {{ message }}
                </div>
                {% elif category == 'warning' %}
                <div class="alert alert-warning" role="alert">
                    {{ message }}
                </div>
                {% elif category == 'error' %}
                <div class="alert alert-danger" role="alert">
                    {{ message }}
                </div>
                {% endif %}
                {% endfor %}
                {% endwith %}

                <form class="singup" id="salonForm" action="{{ url_for('register_salon')}}" method="post">
                    <div class="user_details">

                        <div class="input_pox">
                            <label class="datails" for="org_number">Organisationsnummer</label>
                            <input type="text" id="org_number" name="org_number"
                                placeholder="Fyll i organisationsnummer">
                        </div>

                        <div class="input_pox">
                            <label class="datails" for="name">Namn</label>
                            <input type="text" id="name" name="name" placeholder="Fyll i salongens namn">
                        </div>

                        <div class="input_pox">
                            <label class="datails" for="username">e-post</label>
                            <input type="text" id="username" name="username" placeholder="Fyll i din e-postadress">
                        </div>

                        <div class="input_pox">
                            <label class="datails" for="phone_number">Telefonnummer</label>
                            <input type="text" id="phone_number" name="phone_number"
                                placeholder="Fyll i din telefonnummer">
                        </div>

                        <div class="input_pox">
                            <label class="datails" for="address">Adress</label>
                            <input type="text" id="address" name="address" placeholder="Fyll i salongens adress">
                        </div>

                        <div class="input_pox">
                            <label class="datails" for="password">Lösenord</label>
                            <input type="password" id="password" name="password"
                                placeholder="Välj ett lösenord (minst 4 tecken)">
                        </div>
                        <div>
                            <button id="singIn_btn" class="btn btn-primary" type="submit" value="Log in">Skapa ett
                                konto</button>
                        </div>
                    </div>
                </form>
            </div>
        </main>

        <footer class="footer-distributed">
            <div class="footer-right">
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-tiktok"></i></a>
            </div>

            <div class="footer-left">
                <ul class="footer-links">
                    <li><a href="{{url_for('home')}}">Start sidan</a></li>
                    <li><a href="{{url_for('about')}}">Om oss</a></li>
                    <li><a href="{{url_for('contactUs')}}">Kontakta oss</a></li>
                </ul>
            </div>
            <p>HairFind &copy; 2023</p>
        </footer>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
            crossorigin="anonymous"></script>

    </body>

</html>