<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>hairfind</title>
    </head>

    <!-- Ändra nman på filen-->
    <body>
        <header class="header">
            <h1>{{salon.title}}</h1>
        </header>
        <div class="about-section">
            <div class="inner-container">
                <h2>Namn</h2>
                <p class="text">
                    {{row_data['salon_name']}}
                </p>
                <h2>Adress</h2>
                <p>{{row_data['address']}}</p>
                
                
            </div>
            <div class="right-container" id="img-barber">
                <img src="https://images.pexels.com/photos/1453005/pexels-photo-1453005.jpeg" alt="a barber image"
                    width="500" height="500">
            </div>
        </div>

    </body>

</html>