<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=login_salon, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/salon_page.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        <title>{{fullname}}</title>
    </head>

    <body class="container">
        <header class="dashboard_header">
            {% block body %}
            <div class="dashboard_title">
                <h1>Dashboard <br><small>Välkommen {{fullname}}</small></h1>
            </div>

            <div class="profile_icon">
                <a href="{{url_for('salon_profile', salon_id = salon_id)}}"><i class="fa-regular fa-user"></i></a>
                <a href="#"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
            </div>
        </header>

        <main>
            <hr>
            <a class="btn btn-primary" href="{{url_for('add_service')}}">Lägga till tjänst</a>
            <hr>

            <table class="table table-striped">
                <tr>
                    <th>Tjänst</th>
                    <th>Pris</th>
                    <th>Beskrivning</th>
                    <th></th>
                    <th></th>
                </tr>
                {% for service in services %}
                <tr>
                    <td>{{service.service_name}}</td>
                    <td>{{service.price}} kr</td>
                    <td>{{service.description}}</td>
                    <td><a href="edit_service/{{service.service_id}}" class="btn btn-default pull-right">Edit</a></td>
                    <td>
                        <form action="{{url_for('delete_service', id=service.service_id)}}" method="post">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="submit" value="Delete" class="btn btn-danger">
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </table>
            {% endblock %}
        </main>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>

</html>