<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=login_salon, initial-scale=1.0">
        <title>Salong profil</title>
    </head>

    <body>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <h1>Welcome {{username}}</h1>
        <p>{{ message }}</p>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </body>

</html>