<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=, initial-scale=1.0">
        <link rel="stylesheet" href="/static/loginStyle.css">
        <title>Sign In</title>
    </head>

    <body>

        <header>
            
        </header>

        <div class="container" id="container">
            <!-- Form for singing up or register to program -->
            <div class="form-container sign-up-container">
                <form action="#">
                    <h1>Skapa ett konto</h1>
                    <input type="text" placeholder="Fyll i ditt förnamn" />
                    <input type="text" placeholder="Fyll i ditt efternamn" />
                    <input type="email" placeholder="Fyll i din e-postadress" />
                    <input type="tel" placeholder="Fyll i din telefonnummer" />
                    <input type="password" placeholder="Välj ett lösenord" />
                    <button>Skapa ett konto</button>
                </form>
            </div>

            <!-- Form for sing in -->
            <div class="form-container sign-in-container">
                <form action="#">
                    <h1>Logga in</h1>
                    <input type="email" placeholder="Fyll i din e-postadress ">
                    <input type="password" placeholder="Fyll i ditt lösenord">
                    <a href="#">Forgot your password?</a>
                    <button>Logga in</button>
                </form>
            </div>

            <div class="overlay-container">
                <div class="overlay">
                    <div class="overlay-panel overlay-left">
                        <h1>Välkommen tillbaka!</h1>
                        <p>För att hålla kontakten med oss vänligen logga in med din personliga information</p>
                        <button class="ghost" id="signIn">Logga in</button>
                    </div>
                    <div class="overlay-panel overlay-right">
                        <h1>Hej!</h1>
                        <p>Saknar du ett konto?<br>Ange dina personliga uppgifter och börja resan med oss</p>
                        <button class="ghost" id="signUp">Skapa ett konto</button>
                    </div>
                </div>
            </div>
        </div>

        <footer class="fa fa-heart">
        </footer>

        <script src="/js/index.js"></script>
    </body>

</html>