<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="">
    <title>Hairfind</title>
</head>
<body>
    <div id="listFilter">
        <ul>
            <li>Klippning</li>
            <li>Färgning</li>
            <li>Skägg</li>
            <li>Långt hår</li>
            <li>Lockar</li>
            <li>Afro</li>
            <li>Shampo</li>
            <li>Fade</li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <div id="listBox">
        <ul>
            <li>frisör1</li>
            <li>frisör2</li>
            <li>frisör3</li>
            <li>frisör4</li>
        </ul>
    </div>
</body>
</html>