<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Hairfind</title>
</head>
<body>
    <header>
        <div id="logo">
            <h1>Hairfind</h1>
        </div>
    </header>
    <nav>
        <div id="searchBox">
            <button>Search</button>
        </div>
    </nav>
    <div id="listFilter">
        <ul>
            <li>Klippning</li>
            <li>Färgning</li>
            <li>Skägg</li>
            <li>Långt hår</li>
            <li>Lockar</li>
            <li>Afro</li>
            <li>Shampo</li>
            <li>Fade</li>
            <li>tagg</li>
            <li>tagg</li>
        </ul>
    </div>
    <div id="listBox">
        <ul>
            <li><a href="#">Frisör 1</a></li>
            <li><a href="#">Frisör 2</a></li>
            <li><a href="#">Frisör 3</a></li>
            <li><a href="#">Frisör 4</a></li>
        </ul>
    </div>
</body>
</html>